BasedOnStyle: Microsoft
AccessModifierOffset: -2
AlignAfterOpenBracket: DontAlign
AlignArrayOfStructures: Left
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveMacros: Consecutive
AlignEscapedNewlines: Left
AlignOperands: Align
AllowShortBlocksOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: Yes
BitFieldColonSpacing: Both
ColumnLimit: 60
ConstructorInitializerIndentWidth: 0
ContinuationIndentWidth: 2
IndentWidth: 2
NamespaceIndentation: All

